.pdb-root {
  font-size: 16px;
  max-width: 38rem;
  margin: auto;
  padding: 2rem 1rem 8rem;
}
.pdb-root img {
  display: block;
  margin: auto;
  max-width: 100%;
}
.pdb-root a {
  text-decoration: none;
}
.pdb-root ul.choices {
  display: block;
  margin: 1rem 0;
  padding: 0;
  text-align: center;
}
.pdb-root ul.choices > li {
  display: inline-block;
  max-width: 24em;
  margin: 0.5rem 0.25rem;
  padding: 0.5rem 1rem;
  border: 2px black solid;
  border-radius: 2px;
  font-size: 1.25rem;
  cursor: pointer;
}
.pdb-root .block {
  display: none;
}
.pdb-root .block.active {
  display: block;
  margin: 2rem 0;
  padding: 2rem 0;
  border-top: 2px solid #ddd;
}
.pdb-root h1 {
  font-size: 2rem;
}
.pdb-root h1,
.pdb-root h2,
.pdb-root p {
  line-height: 1.5;
}
.pdb-root h2 {
  display: none;
}
.pdb-root p:not(:first-of-type) {
  margin-bottom: 1rem;
}
